<!DOCTYPE html>
<html ng-app="toDo">
<head>
	<meta charset="utf-8">
    <title>Todo App</title>
</head>
<body ng-controller="Main">
	<div ng-show="shouldShowEditing()">
	<form id="todo-edit-form" class="editForm" ng-submit="finishEditing()" novalidate>
	Edit Todo:<br>
	<input type="text" name="todoText" ng-model="editedTodo.text" value="editedTodo.text"><br>
	</form>
	</div>

	<div ng-show="shouldShowCreating()">
    <form id="todo-form" class="createForm" ng-submit="createTodo(newtodo)">
	Todo:<br>
	<input type="text" name="todoText" ng-model="newtodo.text" placeholder="Write ToDo"><br>
	</form>
	</div>

	<ul>
		<li ng-repeat='todo in todos | filter: doneFilter'>
			<input type="checkbox" ng-model=todo.checked ng-change="editTodo(todo); finishEditing()"> {{todo.text}} <br>
			<button type="button" ng-click="editTodo(todo)">Edit</button>
			<button type="button" ng-click="deleteTodo(todo)">Delete</button>
		</li>
		<div ng-repeat="todo in todoing = (todos | filter: isDoing)">
		</div>
	</ul>

	<!--Buttons for sorting the todos-->
	<button type="button" ng-click="setDoneFilter(null)">All</button>
	<button type="button" ng-click="setDoneFilter(false)">Doing</button>
	<button type="button" ng-click="setDoneFilter(true)">Done</button><br>
	Items to be completed: {{todoing.length}}

</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script type="text/javascript" src="javascript/home.js"></script>
</html>
