<h1>Let's Login!<h1><br>

<form id="user-form" action="userLoginsxs" method="POST">
Login with Twoter:<br>
<input type="text" name="userNameLogin"> <br>
<input type="text" name="passwordLogin"> <br>
<input type="submit" value="Login"> <br>
</form>
<br>
Login with Facebook:<br>
<button type="button" class="facebookLoginButton">Login</button>