<h1>Welcome Home!<h1>
<ul>
<a href="/order">Make a burger!</a><br>
<a href="/ingredients">Tell us about new ingredients!</a><br>
<a href="/kitchen">If you can't stand the heat, choose another link.</a><br>
</ul>