<h1>Before you, they stand. The cats.</h1>

   <ul>
   {{#each cats}}
     <li>
     {{this.name}} is a {{this.age}} year old cat.<br>
     {{this.name}} is a {{this.color}} kitty.
     </li>
   {{/each}}
   </ul>
   <br><br>
    It is now your task to pet all of them.<br>
    <a href="/">Back to the menu.</a>