<h1>Welcome to the Cat Database!</h1>



<form id="ajax-form" action="getCat" method="POST">
  Name: <input type="text" name="name"/><br/>
  <input type=button value="See your cats!" action="listCats">
</form>
<div id="result">
</div>