<h1>Welcome to the Cat Database!</h1>
<br><br/>
 <a href="/cats">See the pretty kitties!</a> 
<br><br/>
 <a href="/cats/new">Click, and a new kitty is born!</a> 
<br><br/>
 <a href="/cats/bycolor/green">Sort the kities by color!</a> 
<br><br/>
 <a href="/cats/delete/old">Don't click this.</a> 